/* Write your CSS here */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.light-theme {
  border: 2px solid black;
  color: black;
  text-align: center;
  padding: 10px;
}
.light-theme > button {
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 8px;
}
.dark-theme {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
.dark-theme > button {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 8px;
}

button:hover {
  border: 5px solid rgb(74, 74, 253);
}
